@font-face{
    font-family: 'MultiroundPro';
    src: url('../fonts/MultiroundPro.otf');

}

footer
{
    position: relative;
    width: 98vw;
    height: auto;
    padding: 0;
    background: #111;
    padding-top: 50px;
}
footer .sec
{
    padding: 20px;
}
footer .container
{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.p__footer
{
    width: 20vw;
    box-sizing: border-box;
}

footer .container .sec h2
{
    position: relative;
    color: #fff;
    font-family: 'MultiroundPro';
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 15px;
}
footer .container .sec h2::before
{
    content: '';
    position: absolute;
    bottom: -5px;
    width: 50px;
    height: 2px;
    background: #ffeb3b;
}
footer .container .sec p
{
    color: #fff;
    font-size: 15px;
}
.sci
{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-gap: 10px;
}
.container li
{
    list-style: none;
}

.container a
{
    color: #4febc4;
}

.sci li a
{
    display: inline-block;
    width: 48px;
    height: 48px;
    background: #111;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a .fa
{
    color: #fff;
    font-size: 20px;
}
.quicklinks li a
{
    color: #f7f7f7;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quicklinks li a:hover
{
    color: #ffeb3b;
}
.info
{
    position: relative;
}
.info li
{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}
.info li span:nth-child(1)
{
    color: #fff;
    font-size: 20px;
}
.info li span
{
    color: #fff;
}
.info a
{
    color: #f7f7f7;
    text-decoration: none;
}
.info a:hover
{
    color: #ffeb3b;
}


footer 
{
    justify-content: center;
    align-self: center;
}
footer .container
{
    display: flex;
    justify-content: center;
    align-self: center;
}
footer .container .sec
{
    font-family: 'MultiroundPro';
    font-size: 20px;
    color: #fff;
    transition: 0.5s;
}
 .aboutus p
{
    width: 300px;
}


@media (max-width:307px) {
    .sec .aboutus{
        display: none;
    }
    #about{
        display: none;
    }
    .sci{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 949px) {
    footer .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    footer h2{
        text-align: center;
    }
    .sec{
        padding-top: 20px;
    }
    .sci{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

}
@media (min-width: 950px) {
    footer .container{
        flex-direction: row;
    }
    footer .container .sec h2::before{
        left: 0;
    }
}