*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

@font-face{
    font-family: 'MultiroundPro';
    src: url('../fonts/MultiroundPro.otf');

}

html,
body {
	height: 100%;
	background-color:#111;
	color: rgb(0, 0, 0);
	line-height: 24px;
}
a {
	color: #794f45;
}
ul {
	list-style: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;
  }
  
  .navbar {
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    background: #111;
  }
  
  .navbar__wrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  
  .hamb {
    display: none;
  }
  
  .popup {
    display: none;
  }
  .header__logo img{
    height: 2em;
    width: auto;
    position: relative;
    top: 10px;
}
  .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    margin-right:  50px;
    font-family: 'MultiroundPro';
    font-size: 1.5em;
    font-family:'MultiroundPro';
    font-weight: 500;
    letter-spacing: 2px;
  }
  
  .menu > li > a {
    text-decoration: none;
  }
  
  .navbar__wrap .menu {
    display: flex;
  }
  
  .navbar__wrap .menu > li {
    display: flex;
    align-items: stretch;
  }
  
  .navbar__wrap .menu > li > a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .navbar__wrap .menu > li > a:hover {
    color: rgba(255, 255, 255, 1);
  }
  
  @media (max-width: 1000px) {
      .navbar__wrap .menu {
        display: none;
      }
    
      .hamb {
        display: flex;
        align-items: center;
      }
    
      .hamb__field {
        padding: 10px 20px;
        cursor: pointer;
      }
    
      .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 6px auto;
        background-color: #fff;
        transition: 0.2s;
      }
    
      .popup {
        position: fixed;
        top: 75px;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #111;
        z-index: 100;
        display: flex;
        transition: 0.3s;
      }
    
      .popup.open {
        left: 0;
      }
    
      .popup .menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 50px 0;
        overflow: auto;
      }
    
      .popup .menu > li {
        width: 100%;
      }
    
      .popup .menu > li > a {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
      }
    
      .popup .menu > li > a:hover {
        background-color: rgba(122, 82, 179, 0.1);
      }
    
      .hamb__field.active .bar:nth-child(2) {
        opacity: 0;
      }
    
      .hamb__field.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
    
      .hamb__field.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    
      body.noscroll {
        overflow: hidden;
      }
    }
