@font-face{
    font-family: 'MultiroundPro';
    src: url('../fonts/MultiroundPro.otf');

}
.content
{
    padding-top: 50px;
}
.solar__animation
{
    margin: 0;
    padding: 0;
    background: #111;
    height: 80vh;
    width: 100vw;
    position: relative;
    top:70px;
    z-index: 2;
}
.sun
{
    height: 120px;
    width: 120px;
    background-image: url('../img/sun.png');
    border-radius: 50%;
    background-size: cover;
    box-shadow: -4px 2px 56px #f9c05f;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.mercury
{
    height: 20px;
    width: 20px;
    background-image: url('../img/mercury.png');
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #f9c05f;
    left: 43%;
    top: 42%;
    transform: translate(-50%, -50%);
    animation: orbit2 calc(0.241*5s) linear infinite;
}
@keyframes orbit2
{
    from {
        transform: rotate(0deg)translateX(70px) rotate(0deg);
    }
    to {
        transform: rotate(360deg)translateX(70px) rotate(-360deg);
    }
}
.solar__animation p
{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    left: -62px;
    top: -11px;
}
.mercury-outline,
.venus-outline-1,
.earth-outline-1,
.mars-outline-1,
.jupiter-outline-1,
.saturn-outline-1,
.uranus-outline-1,
.neptune-outline-1
{
    border-radius: 50%;
    border: 1px dotted #ddd9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mercury-outline
{
    height: 140px;
    width: 140px;
}
.venus
{
    height: 40px;
    width: 40px;
    background-image: url('../img/venus_2.png');
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #c1aa81;
    left: 40%;
    top: 42%;
    transform: translate(-50%, -50%);
    animation: orbit3 calc(0.615*5s) linear infinite;
}
@keyframes orbit3
{
    from {
        transform: rotate(0deg)translateX(100px) rotate(0deg);
    }
    to {
        transform: rotate(360deg)translateX(100px) rotate(-360deg);
    }
}
.venus-outline-1
{
    height: 200px;
    width: 200px;
}
.earth
{
    height: 50px;
    width: 50px;
    background-image: url('../img/earth.png');
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #2855d6;
    left: 44%;
    top: 43%;
    transform: translate(-50%, -50%);
    animation: orbit4 calc(1*5s) linear infinite;
}
@keyframes orbit4
{
    from {
        transform: rotate(0deg)translateX(150px) rotate(0deg);
    }
    to {
        transform: rotate(360deg)translateX(150px) rotate(-360deg);
    }
}
.earth-outline-1
{
    height: 300px;
    width: 300px;
}
.earth-circle
{
    height: 65px;
    width: 65px;
    border: 1px dotted #fff;
    position: relative;
    top: -28%;
    left: -28%;
    border-radius: 50%;
}
@media (max-width:700px) {
    .earth-circle{
        display: none;
    }
    .earth-inner{
        display: none;
    }
}
.earth-inner
{
    height: 10px;
    width: 10px;
    background-color: rgb(205, 198, 198);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 45%;
    top: 45%;
    animation: orbit5 calc(0.074*5s) linear infinite;
}
@keyframes orbit5
{
    from {
        transform: rotate(0deg)translateX(33px) rotate(0deg);
    }
    to {
        transform: rotate(360deg)translateX(33px) rotate(-360deg);
    }
}
.mars
{
    height: 30px;
    width: 30px;
    background-image: url('../img/mars_2.png');
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #fea535;
    left: 46.5%;
    top: 46.5%;
    transform: translate(-50%, -50%);
    animation: orbit6 calc(1.881*5s) linear infinite;
}
@keyframes orbit6
{
    from {
        transform: rotate(0deg)translateX(185px) rotate(0deg);
    }
    to {
        transform: rotate(360deg)translateX(185px) rotate(-360deg);
    }
}
.mars-outline-1
{
    height: 370px;
    width: 370px;
}
.jupiter
{
    height: 40px;
    width: 40px;
    background-image: url('../img/jupiter.png');
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #cac2b9;
    left: 45%;
    top: 45%;
    transform: translate(-50%, -50%);
    animation: orbit7 calc(11.862*5s) linear infinite;
}
@keyframes orbit7
{
    from {
        transform: rotate(0deg)translateX(217px) rotate(0deg);
    }
    to {
        transform: rotate(360deg)translateX(217px) rotate(-360deg);
    }
}
.jupiter-outline-1
{
    height: 430px;
    width: 430px;
}
.saturn
{
    height: 50px;
    width: 50px;
    background-image: url('../img/saturn.png');
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    left: 45%;
    top: 45%;
    transform: translate(-50%, -50%);
    animation: orbit8 calc(29.458*5s) linear infinite;
}
@keyframes orbit8
{
    from {
        transform: rotate(0deg)translateX(250px) rotate(0deg);
    }
    to {
        transform: rotate(360deg)translateX(250px) rotate(-360deg);
    }
}
.saturn-outline-1
{
    height: 500px;
    width: 500px;
}
.uranus
{
    height: 30px;
    width: 30px;
    background-image: url('../img/uranus.png');
    background-size: 100%;
    box-shadow: -4px 2px 56px #aeede9;
    border-radius: 50%;
    position: absolute;
    left: 48%;
    top: 48%;
    transform: translate(-50%, -50%);
    animation: orbit9 calc(84.015*5s) linear infinite;
}
@keyframes orbit9
{
    from {
        transform: rotate(0deg)translateX(280px) rotate(0deg);
    }
    to {
        transform: rotate(360deg)translateX(280px) rotate(-360deg);
    }
}
.uranus-outline-1
{
    height: 560px;
    width: 560px;
}
.neptune
{
    height: 30px;
    width: 30px;
    background-image: url('../img/neptune.png');
    background-size: 100%;
    box-shadow: -4px 2px 56px #9aaee4;
    border-radius: 50%;
    position: absolute;
    left: 48%;
    top: 48%;
    transform: translate(-50%, -50%);
    animation: orbit10 calc(164.788*5s) linear infinite;
}
@keyframes orbit10
{
    from {
        transform: rotate(0deg)translateX(310px) rotate(0deg);
    }
    to {
        transform: rotate(360deg)translateX(310px) rotate(-360deg);
    }
}
.neptune-outline-1
{
    height: 620px;
    width: 620px;
}


@media (min-width:801px) {
    .solar__animation
    {
        width: 90vw;
    }
    .sun
    {
        height: 6vh;
        width: 6vh;
    }
    .mercury
    {
        height: 2vh;
        width: 2vh;
    }
    @keyframes orbit2
    {
        from {
            transform: rotate(0deg)translateX(4.5vh) rotate(0deg);
        }
        to {
            transform: rotate(360deg)translateX(4.5vh) rotate(-360deg);
        }
    }
    .mercury-outline
    {
        height: 9vh;
        width: 9vh;
    }
    
    .venus
    {
        height: 2.5vh;
        width: 2.5vh;
    }
    @keyframes orbit3
    {
        from {
            transform: rotate(0deg)translateX(7vh) rotate(0deg);
        }
        to {
            transform: rotate(360deg)translateX(7vh) rotate(-360deg);
        }
    }
    .venus-outline-1
    {
        height: 14vh;
        width: 14vh;
    }
    .earth
    {
        height: 3vh;
        width: 3vh;
    }
    @keyframes orbit4
    {
        from {
            transform: rotate(0deg)translateX(12vh) rotate(0deg);
        }
        to {
            transform: rotate(360deg)translateX(12vh) rotate(-360deg);
        }
    }
    .earth-outline-1
    {
        height: 24vh;
        width: 24vh;
    }
    .earth-circle
    {
        height: 4.8vh;
        width: 4.8vh;
    }
    .earth-inner
    {
        height: 1vh;
        width: 1vh;
    }
    @keyframes orbit5
    {
        from {
            transform: rotate(0deg)translateX(2.5vh) rotate(0deg);
        }
        to {
            transform: rotate(360deg)translateX(2.5vh) rotate(-360deg);
        }
    }
    .mars
    {
        height: 2.6vh;
        width: 2.6vh;
    }
    @keyframes orbit6
    {
        from {
            transform: rotate(0deg)translateX(16vh) rotate(0deg);
        }
        to {
            transform: rotate(360deg)translateX(16vh) rotate(-360deg);
        }
    }
    .mars-outline-1
    {
        height: 32vh;
        width: 32vh;
    }
    .jupiter
    {
        height: 5vh;
        width: 5vh;
    }
    @keyframes orbit7
    {
        from {
            transform: rotate(0deg)translateX(20vh) rotate(0deg);
        }
        to {
            transform: rotate(360deg)translateX(20vh) rotate(-360deg);
        }
    }
    .jupiter-outline-1
    {
        height: 40vh;
        width: 40vh;
    }
    .saturn
    {
        height: 5vh;
        width: 5vh;
    }
    @keyframes orbit8
    {
        from {
            transform: rotate(0deg)translateX(25vh) rotate(0deg);
        }
        to {
            transform: rotate(360deg)translateX(25vh) rotate(-360deg);
        }
    }
    .saturn-outline-1
    {
        height: 50vh;
        width: 50vh;
    }
    .uranus
    {
        height: 4vh;
        width: 4vh;
    }
    @keyframes orbit9
    {
        from {
            transform: rotate(0deg)translateX(30vh) rotate(0deg);
        }
        to {
            transform: rotate(360deg)translateX(30vh) rotate(-360deg);
        }
    }
    .uranus-outline-1
    {
        height: 60vh;
        width: 60vh;
    }   
    .neptune
    {
        height: 4vh;
        width: 4vh;
    }
        @keyframes orbit10
    {
        from {
            transform: rotate(0deg)translateX(35vh) rotate(0deg);
        }
        to {
            transform: rotate(360deg)translateX(35vh) rotate(-360deg);
        }
    }
        .neptune-outline-1
    {
        height: 70vh;
        width: 70vh;
    }
}

@media (max-width:800px) {
    .sun
    {
        height: 6vw;
        width: 6vw;
    }
    .mercury
    {
        height: 2vw;
        width: 2vw;
    }
    @keyframes orbit2
    {
        from {
            transform: rotate(0deg)translateX(4.5vw) rotate(0deg);
        }
        to {
            transform: rotate(360deg)translateX(4.5vw) rotate(-360deg);
        }
    }
    .mercury-outline
    {
        height: 9vw;
        width: 9vw;
    }
    
    .venus
    {
        height: 2.5vw;
        width: 2.5vw;
    }
    @keyframes orbit3
    {
        from {
            transform: rotate(0deg)translateX(7vw) rotate(0deg);
        }
        to {
            transform: rotate(360deg)translateX(7vw) rotate(-360deg);
        }
    }
    .venus-outline-1
    {
        height: 14vw;
        width: 14vw;
    }
    .earth
    {
        height: 3vw;
        width: 3vw;
    }
    @keyframes orbit4
    {
        from {
            transform: rotate(0deg)translateX(12vw) rotate(0deg);
        }
        to {
            transform: rotate(360deg)translateX(12vw) rotate(-360deg);
        }
    }
    .earth-outline-1
    {
        height: 24vw;
        width: 24vw;
    }
    .earth-circle
    {
        height: 4.8vw;
        width: 4.8vw;
    }
    .earth-inner
    {
        height: 1vw;
        width: 1vw;
    }
    @keyframes orbit5
    {
        from {
            transform: rotate(0deg)translateX(2.5vw) rotate(0deg);
        }
        to {
            transform: rotate(360deg)translateX(2.5vw) rotate(-360deg);
        }
    }
    .mars
    {
        height: 2.6vw;
        width: 2.6vw;
    }
    @keyframes orbit6
    {
        from {
            transform: rotate(0deg)translateX(16vw) rotate(0deg);
        }
        to {
            transform: rotate(360deg)translateX(16vw) rotate(-360deg);
        }
    }
    .mars-outline-1
    {
        height: 32vw;
        width: 32vw;
    }
    .jupiter
    {
        height: 5vw;
        width: 5vw;
    }
    @keyframes orbit7
    {
        from {
            transform: rotate(0deg)translateX(20vw) rotate(0deg);
        }
        to {
            transform: rotate(360deg)translateX(20vw) rotate(-360deg);
        }
    }
    .jupiter-outline-1
    {
        height: 40vw;
        width: 40vw;
    }
    .saturn
    {
        height: 5vw;
        width: 5vw;
    }
    @keyframes orbit8
    {
        from {
            transform: rotate(0deg)translateX(25vw) rotate(0deg);
        }
        to {
            transform: rotate(360deg)translateX(25vw) rotate(-360deg);
        }
    }
    .saturn-outline-1
    {
        height: 50vw;
        width: 50vw;
    }
    .uranus
    {
        height: 4vw;
        width: 4vw;
    }
    @keyframes orbit9
    {
        from {
            transform: rotate(0deg)translateX(30vw) rotate(0deg);
        }
        to {
            transform: rotate(360deg)translateX(30vw) rotate(-360deg);
        }
    }
    .uranus-outline-1
    {
        height: 60vw;
        width: 60vw;
    }   
    .neptune
    {
        height: 4vw;
        width: 4vw;
    }
        @keyframes orbit10
    {
        from {
            transform: rotate(0deg)translateX(35vw) rotate(0deg);
        }
        to {
            transform: rotate(360deg)translateX(35vw) rotate(-360deg);
        }
    }
        .neptune-outline-1
    {
        height: 70vw;
        width: 70vw;
    }
}





main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.content{
    width: 90vw; 
}
.content p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    font-size: 20px; 
}
.content h1{
    font-family:'MultiroundPro';
    font-size: 20;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 40px;
}
.title
{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    position: relative;
    top: 0;
}
.title p
{
    font-family: 'MultiroundPro';
    font-size: 80px;
    color: white;
    padding-left: 5vw;  
}
@media (max-width:500px) {
    .title p{
        font-size: 50px;
    }
}
main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}


.img__wrap img
{
    border-radius: 30px;
    align-items: center;
    margin-top: 20px;
    width: 50vw;
}
@media (max-width:800px) {
    .img__wrap img{
        width: 90vw;
    }
}
@media (max-width:1000px) {
    .img__wrap img{
        width: 70vw;
    }
}
.img__wrap
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content li {
    list-style-type: none; 
    display: flex;
    flex-direction: row;
}
.content li:before {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px; 
    color: rgb(255, 255, 255);
    content: "•"; 
    padding-right: 7px;
}
.content ul{
    margin-left: 50px;
}
.content ul p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px; 
    color: rgb(255, 255, 255);
}
.content h2{
    font-family: 'MultiroundPro';
    color: #fff;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
@media (max-width:500px) {
    .content h1{
        font-size: 25px;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .content h2{
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 5px;
    }
}
@media (max-width:501px) {
    .content h1{
        font-size: 20;
    }
}
@media (min-width:501px) {
    .content h1{
        font-size: 20;
    }
}



