@font-face{
    font-family: 'MultiroundPro';
    src: url('../fonts/MultiroundPro.otf');

}

#planet__img
{
    width: 40vw;
}
#planet__img__jupiter
{
    width: 35vw;
}
#planet__img__uranus
{
    width: 40vw;
}
.content{
    width: 90vw;
    padding-top: 100px;
}
.content p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    font-size: 20px; 
    line-height: 28px;
}
.content h1{
    font-family:'MultiroundPro';
    font-size: 20;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 40px;
    padding-top: 20px;
}
.title
{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    position: relative;
    top: 0;
}
.title p
{
    font-family: 'MultiroundPro';
    font-size: 80px;
    color: white;
    padding-left: 5vw;  
}
@media (max-width:500px) {
    .title p{
        font-size: 50px;
    }
}
main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}
.wrap
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
}
.wrap img
{
    border-radius: 30px;
    margin-top:30px;
}
@media (min-width:601px) {
    .wrap{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .wrap img{
        width: 300px;
        height: 300px;
        margin: 20px;
    }
}
.img__wrap img
{
    border-radius: 30px;
    align-items: center;
    margin-top: 20px;
    width: 50vw;
}
@media (max-width:800px) {
    .img__wrap img{
        width: 90vw;
    }
}
@media (max-width:1000px) {
    .img__wrap img{
        width: 70vw;
    }
}
.img__wrap
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content li {
    list-style-type: none; 
    display: flex;
    flex-direction: row;
}
.content li:before {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px; 
    color: rgb(255, 255, 255);
    content: "•"; 
    padding-right: 7px;
}
.content ul{
    margin-left: 50px;
}
.content ul p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px; 
    color: rgb(255, 255, 255);
}
.content h2{
    font-family: 'MultiroundPro';
    color: #fff;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
@media (max-width:500px) {
    .content h1{
        font-size: 25px;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .content h2{
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .title p
    {
    font-size: 38px;
    color: white;
    padding-left: 2vw;  
    }
    #mercury__p,
    #venera__p
    {
        font-size:20px;
    }
}
@media (max-width:501px) {
    .content h1{
        font-size: 20;
    }
    #mercury__p,
    #venera__p,
    #sun__p
    {
        font-size: 25px;
    }
}
@media ((max-width:800px) and (min-width:502px)) {
    #mercury__p,
    #venera__p
    {
        font-size:35px;
    }
    #sun__p
    {
        font-size:40px;
    }
}
@media (min-width:801px) {
    #mercury__p,
    #venera__p,
    #sun__p
    {
        font-size:60px;
    }
}
@media (min-width:501px) {
    .content h1{
        font-size: 20;
    }
}
#planet__img__mercury,
#planet__img__venus
    {
        width: 40vw;
    }
