@font-face{
    font-family: 'MultiroundPro';
    src: url('../fonts/MultiroundPro.otf');

}

h2
{
    
}

.nice-buttons
{
    position: relative;
    width: 100vw;
    top: 60px;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

.nice-buttons .container5
{
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
    width: 100vw;
    max-width: 1012px;
}

.nice-buttons .container5 .box5
{
    position: relative;
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
}

.nice-buttons .container5 .box5:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}

.nice-buttons .container5 .box5:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
    transition: 0.5s;
}

.nice-buttons .container5 .box5:hover:before,
.nice-buttons .container5 .box5:hover:after
{
    transform: skewX(0deg);
    left: 20px;
    width: calc(100%-90px);
}

.nice-buttons .container5 .box5:nth-child(1)::before,
.nice-buttons .container5 .box5:nth-child(1)::after
{
    background: linear-gradient(315deg,#39c0e1, #ea86a7);
}

.nice-buttons .container5 .box5:nth-child(2)::before,
.nice-buttons .container5 .box5:nth-child(2)::after
{
    background: linear-gradient(315deg,#03a9f4, #ff0058);
}

.nice-buttons .container5 .box5:nth-child(3)::before,
.nice-buttons .container5 .box5:nth-child(3)::after
{
    background: linear-gradient(315deg,#4dff03, #00d0ff);
}
.nice-buttons .container5 .box5:nth-child(4)::before,
.nice-buttons .container5 .box5:nth-child(4)::after
{
    background: linear-gradient(315deg,#ffbc00, #ff0058);
}

.nice-buttons .container5 .box5:nth-child(5)::before,
.nice-buttons .container5 .box5:nth-child(5)::after
{
    
    background: linear-gradient(315deg,#488e4d,rgb(244, 172, 48), #00d0ff);
}

.nice-buttons .container5 .box5:nth-child(6)::before,
.nice-buttons .container5 .box5:nth-child(6)::after
{
    background: linear-gradient(315deg,#ffe259, #d38232,#ffe259, #d38232,#ffe259, #d38232);
}
.nice-buttons .container5 .box5:nth-child(7)::before,
.nice-buttons .container5 .box5:nth-child(7)::after
{
    background: linear-gradient(315deg,#39c0e1, #ea86a7);
}

.nice-buttons .container5 .box5:nth-child(8)::before,
.nice-buttons .container5 .box5:nth-child(8)::after
{
    background: linear-gradient(315deg,#39c0e1, #3463d0);
}

.nice-buttons .container5 .box5:nth-child(9)::before,
.nice-buttons .container5 .box5:nth-child(9)::after
{
    background: linear-gradient(315deg,#ffe259, #ffd500);
}


.nice-buttons .container5 .box5 span
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}

.nice-buttons .container5 .box5 span::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px rgba(0,0,0,0.05);
}

.nice-buttons .container5 .box5:hover span::before
{
    top: -50px;
    left: 50px;
    width: 70px;
    height: 70px;
    opacity: 1;
}

.nice-buttons .container5 .box5 span::after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px rgba(0,0,0,0.05);
    animation-delay: -1s;
}

.nice-buttons .container5 .box5:hover span::after
{
    bottom: -50px;
    right: 50px;
    width: 70px;
    height: 70px;
    opacity: 1;
}

@keyframes animate
{
    0%,100%
    {
        transform: translateY(10px);
    }
    50%
    {
        transform: translateY(-10px);
    }
}

.nice-buttons .container5 .box5 .content5
{
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    z-index: 1;
    transform: 0.5s;
    color: #fff;
}

.nice-buttons .container5 .box5:hover .content5
{
    left: -25px;
    padding: 60px 40px;
}

.nice-buttons .container5 .box5 .content5 h2
{
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}

.nice-buttons .container5 .box5 .content5 p
{
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.nice-buttons .container5 .box5 .content5 a
{
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 5px;
}

