*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

@font-face{
    font-family: 'MultiroundPro';
    src: url('../fonts/MultiroundPro.otf');

}

html,
body {
	height: 100%;
	background-color:#111;
	color: rgb(0, 0, 0);
	line-height: 24px;
}
a {
	color: #794f45;
}
ul {
	list-style: none;
}



.container {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;
  }
  
  .navbar {
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    background: #111;
  }
  
  .navbar__wrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  
  .hamb {
    display: none;
  }
  
  .popup {
    display: none;
  }
  .header__logo img{
    height: 2em;
    width: auto;
    position: relative;
    top: 10px;
}
  .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    margin-right:  50px;
    font-family: 'MultiroundPro';
    font-size: 1.5em;
    font-family:'MultiroundPro';
    font-weight: 500;
    letter-spacing: 2px;
  }
  
  .menu > li > a {
    text-decoration: none;
  }
  
  .navbar__wrap .menu {
    display: flex;
  }
  
  .navbar__wrap .menu > li {
    display: flex;
    align-items: stretch;
  }
  
  .navbar__wrap .menu > li > a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .navbar__wrap .menu > li > a:hover {
    color: rgba(255, 255, 255, 1);
  }
  
  @media (max-width: 1000px) {
      .navbar__wrap .menu {
        display: none;
      }
    
      .hamb {
        display: flex;
        align-items: center;
      }
    
      .hamb__field {
        padding: 10px 20px;
        cursor: pointer;
      }
    
      .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 6px auto;
        background-color: #fff;
        transition: 0.2s;
      }
    
      .popup {
        position: fixed;
        top: 75px;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #111;
        z-index: 100;
        display: flex;
        transition: 0.3s;
      }
    
      .popup.open {
        left: 0;
      }
    
      .popup .menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 50px 0;
        overflow: auto;
      }
    
      .popup .menu > li {
        width: 100%;
      }
    
      .popup .menu > li > a {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
      }
    
      .popup .menu > li > a:hover {
        background-color: rgba(122, 82, 179, 0.1);
      }
    
      .hamb__field.active .bar:nth-child(2) {
        opacity: 0;
      }
    
      .hamb__field.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
    
      .hamb__field.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    
      body.noscroll {
        overflow: hidden;
      }
    }



footer
{
    position: relative;
    width: 100vw;
    height: auto;
    padding: 0;
    background: #111;
    padding-top: 50px;
}
footer .container
{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.p__footer
{
    width: 20vw;
    box-sizing: border-box;
}

footer .container .sec h2
{
    position: relative;
    color: #fff;
    font-family: 'MultiroundPro';
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 15px;
}
footer .container .sec h2::before
{
    content: '';
    position: absolute;
    bottom: -5px;
    width: 50px;
    height: 2px;
    background: #ffeb3b;
}
footer .container .sec p
{
    color: #fff;
    font-size: 15px;
}
.sci
{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-gap: 10px;
}
.container li
{
    list-style: none;
}

.container a
{
    color: #4febc4;
}

.sci li a
{
    display: inline-block;
    width: 48px;
    height: 48px;
    background: #111;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a .fa
{
    color: #fff;
    font-size: 20px;
}
.quicklinks li a
{
    color: #f7f7f7;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quicklinks li a:hover
{
    color: #ffeb3b;
}
.info
{
    position: relative;
}
.info li
{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}
.info li span:nth-child(1)
{
    color: #fff;
    font-size: 20px;
}
.info li span
{
    color: #fff;
}
.info a
{
    color: #f7f7f7;
    text-decoration: none;
}
.info a:hover
{
    color: #ffeb3b;
}


footer 
{
    justify-content: center;
    align-self: center;
}
footer .container
{
    display: flex;
    justify-content: center;
    align-self: center;
}
footer .container .sec
{
    font-family: 'MultiroundPro';
    font-size: 20px;
    color: #fff;
    transition: 0.5s;
}
 .aboutus p
{
    width: 300px;
}


@media (max-width:307px) {
    .sec .aboutus{
        display: none;
    }
    #about{
        display: none;
    }
    .sci{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 949px) {
    footer .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    footer h2{
        text-align: center;
    }
    .sec{
        padding-top: 20px;
    }
    .sci{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

}
@media (min-width: 950px) {
    footer .container{
        flex-direction: row;
    }
    footer .container .sec h2::before{
        left: 0;
    }
}







#planet__img
{
    width: 40vw;
}
#planet__img__jupiter
{
    width: 35vw;
}
#planet__img__uranus
{
    width: 40vw;
}
.content{
    width: 90vw;
    padding-top: 100px;
}
.content p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    font-size: 20px; 
}
.content h1{
    font-family:'MultiroundPro';
    font-size: 20;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 40px;
}
.title
{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    position: relative;
    top: 0;
}
.title p
{
    font-family: 'MultiroundPro';
    font-size: 80px;
    color: white;
    padding-left: 5vw;  
}
@media (max-width:500px) {
    .title p{
        font-size: 50px;
    }
}
main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}
.wrap
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
}
.wrap img
{
    border-radius: 30px;
    margin-top:30px;
}
@media (min-width:601px) {
    .wrap{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .wrap img{
        width: 300px;
        height: 300px;
        margin: 20px;
    }
}
.img__wrap img
{
    border-radius: 30px;
    align-items: center;
    margin-top: 20px;
    width: 50vw;
}
@media (max-width:800px) {
    .img__wrap img{
        width: 90vw;
    }
}
@media (max-width:1000px) {
    .img__wrap img{
        width: 70vw;
    }
}
.img__wrap
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content li {
    list-style-type: none; 
    display: flex;
    flex-direction: row;
}
.content li:before {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px; 
    color: rgb(255, 255, 255);
    content: "•"; 
    padding-right: 7px;
}
.content ul{
    margin-left: 50px;
}
.content ul p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px; 
    color: rgb(255, 255, 255);
}
.content h2{
    font-family: 'MultiroundPro';
    color: #fff;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
@media (max-width:500px) {
    .content h1{
        font-size: 25px;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .content h2{
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .title p
    {
    font-size: 38px;
    color: white;
    padding-left: 2vw;  
    }
    #mercury__p,
    #venera__p
    {
        font-size:20px;
    }
}
@media (max-width:501px) {
    .content h1{
        font-size: 20;
    }
    #mercury__p,
    #venera__p,
    #sun__p
    {
        font-size: 25px;
    }
}
@media ((max-width:800px) and (min-width:502px)) {
    #mercury__p,
    #venera__p
    {
        font-size:50px;
    }
    #sun__p
    {
        font-size:40px;
    }
}
@media (min-width:801px) {
    #mercury__p,
    #venera__p,
    #sun__p
    {
        font-size:60px;
    }
}
@media (min-width:501px) {
    .content h1{
        font-size: 20;
    }
}
#planet__img__mercury,
#planet__img__venus
    {
        width: 40vw;
    }
