@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

@font-face{
    font-family: 'MultiroundPro';
    src: url('../fonts/MultiroundPro.otf');

}

html,
body {
	height: 100%;
	background-color:#111;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: rgb(0, 0, 0);
	font-size: 16px;
	line-height: 24px;
}
a {
	color: #794f45;
}
ul {
	list-style: none;
}



.wrapper {
	display: grid;
	min-height: 100vh;
	grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
}
/* ================ */
.header {
	grid-area: header;
	padding: 15px;
	background-color:#111;
	align-items: center;
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}
.header__logo{
	grid-column: 2 / 3;
}
.header__logo img{
    height: 2em;
    width: auto;
    position: relative;
    top: 10px;
}
.header__menu {
	grid-column: 3 / 4;
}
.header__list {
	display: grid;
	grid-auto-flow: column;
	justify-items: end;
    margin-right: 40px;
    margin-top: 20px;
}
.header__list li {
	margin: 0px 0px 0px 20px;
}
.header__link {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
}
.header p{
    font-size: 1.5em;
    font-family:'MultiroundPro';
    font-weight: 500;
    letter-spacing: 2px;
}




.main {
	padding: 30px 15px;
}
.sidebar {
	background-color:#1d7a6f;;
	padding: 20px;
	margin: 0px 0px 30px 0px;
}
.sidebar__list li {
	margin: 0px 0px 15px 0px;
}
.sidebar__link {
	color: #fff;
}
.content {
    width: 70vw;
}
.content__gallery {
	margin: 0px 0px 40px 0px;
}

@media (min-width: 992px) {
	.main {
		grid-area: main;
		display: grid;
		grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
	}
	.content {
		grid-column: 3 / 4;
		padding: 0px 0px 0px 30px;
	}
	.sidebar {
		margin: 0;
		grid-column: 2 / 3;
	}
}



footer
{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
}
footer .container
{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
footer .container .sec h2
{
    position: relative;
    color: #fff;
    font-family: 'MultiroundPro';
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 15px;
}
footer .container .sec h2::before
{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #ffeb3b;
}
footer .container .sec p
{
    color: #fff;
    font-size: 15px;
}
.sci
{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-gap: 10px;
}
.container li
{
    list-style: none;
}

.container a
{
    color: #4febc4;
}

.sci li a
{
    display: inline-block;
    width: 48px;
    height: 48px;
    background: #111;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a .fa
{
    color: #fff;
    font-size: 20px;
}
.quicklinks li a
{
    color: #f7f7f7;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quicklinks li a:hover
{
    color: #ffeb3b;
}
.info
{
    position: relative;
}
.info li
{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}
.info li span:nth-child(1)
{
    color: #fff;
    font-size: 20px;
}
.info li span
{
    color: #fff;
}
.info a
{
    color: #f7f7f7;
    text-decoration: none;
}
.info a:hover
{
    color: #ffeb3b;
}


footer 
{
    justify-content: center;
    align-self: center;
}
footer .container
{
    display: flex;
    justify-content: center;
    align-self: center;
}
footer .container .sec
{
    font-family: 'MultiroundPro';
    font-size: 20px;
    color: #fff;
    transition: 0.5s;
}
 .aboutus p
{
    width: 300px;
}

@media (min-width: 950px) {
    footer .container{
        flex-direction: row;
    }
}
@media (max-width: 949px) {
    footer .container{
        flex-direction: column;
    }
}



.quiz
{
    position: relative;
    top: 100px;
    left: 200px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    background: #007bff;
}
.start__btn,
.info__box,
.quiz__box
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.start__btn button
{
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}
.info__box
{
    display: none;
    width: 540px;
    background: #fff;
    border-radius: 5px;
}
.info__box .info__title
{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}
.info__box .info__list
{
    padding: 15px 35px;
}
.info__box .info__list .info
{
    margin: 5px 0;
    font-size: 17px;
}
.info__box .info__list .info span
{
    font-weight: 600;
    color: #007bff;
}
.info__box .buttons
{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgrey;
}
.info__box .buttons button
{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid #007bff;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
.buttons button.restart
{
    color: #fff;
    background: #007bff;
}
.buttons button.restart:hover
{
    background: #007bff;
}
.buttons button.quit
{
    color:  #007bff;
}
.buttons button.quit:hover
{
    color: #fff;
    background: #007bff;
}
.quiz__box
{
    width: 550px;
    background: #fff;
    border-radius: 5px;
}
.quiz__box .header__quiz
{
    height: 70px;
    padding: 0 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}
.quiz__box .header__quiz .title__quiz
{
    font-size: 20px;
    font-weight: 600;
}
.quiz__box .header__quiz .timer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: 5px;
    padding: 0 8px;
}
.quiz__box .header__quiz .timer .time__text
{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}
.quiz__box .header__quiz .timer .timer__sec
{
    font-size: 18px;
    font-weight: 500;
    background: #343a40;
    height: 30px;
    width: 45px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #343a40;
    user-select: none;
}
.quiz__box .section__quiz
{
    padding: 25px 30px 20px 30px;
    background: #fff;
}
.quiz__box .section__quiz .que__text
{
    font-size: 25px;
    font-weight: 600;
}
.quiz__box .section__quiz .option__list
{
    padding: 20px 0;
    display: block;
}
.section__quiz .option__list .option
{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}
.section__quiz .option__list .option:hover
{
    color: #004085;
    background: #cce5ff;
    border-color: #b8baff;
}
.option__list .option:last-child
{
    margin-bottom: 0px;
}
.option__list .option .icon
{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;
}
.option__list .option .icon.tick
{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}
.option__list .option .icon.cross
{
    color: #a42834;
    border-color: #a42834;
    background: #f8d7da;
}
.quiz__box .footer__quiz
{
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quiz__box .footer__quiz .total__que span
{
    display: flex;
    user-select: none;
}
.footer__quiz .total__que span p
{
    font-weight: 500;
    padding: 0 5px;
}
.total__que span p:first-child
{
    padding-left: 0px;
}
.footer__quiz .next__btn
{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border:none;
    outline: none;
    color: #fff;
    background: #007bff;
    border-radius: 5px;
    border: 1px solid #007bff;
}